<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cluckr</title>
</head>

<body>
  <%- include("partials/header") %>

  <% if (cluckrData["clucks"]) {
      cluckrData["clucks"].forEach(cluck => { %>
  <img src="/assets/cluck_image.jpg" alt="Cluck image" class="image">
  <ul>
    <li>
      <h3><%= cluck.username %> - <%= new Date(cluck.created_at).toDateString() %>
        <%= new Date(cluck.created_at).toTimeString() %></h3>
    </li>
    <li>
      <%= cluck.content %>
    </li>
    <li>
      <%= cluck.image_url %>
    </li>
  </ul>
  <% });
    } %>
</body>

</html>