<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cluckr</title>
</head>

<body>
<%-include("partials/header")%>
  <main class="main">
  <%
  if (cluckrData["clucks"]) {
    if (cluckrData["clucks"].length > 0) {
    %>
    <clucks class="clucks">
  <%
    }
    
    cluckrData["clucks"].forEach(cluck => {
  %>
    <article class="article">
      <cluck class="cluck">
        <div class="cluck_image">
          <img src="/assets/cluck_image.jpg" alt="Cluck image" class="image">
        </div>
        <div class="cluck_content">
          <h3 class="cluck_user_title">
            <%= cluck.username %> - <%= new Date(cluck.created_at).toDateString() %>
          </h3>
          <%= new Date(cluck.created_at).toTimeString() %>
          <p class="cluck_user_content">
            <%= cluck.content %>
          </p>
          <img src="<%= cluck.image_url %>" alt="<%= cluck.image_url %>" class="cluck_image_url">
        </div>
      </cluck>
    </article>
    <%
    });
    if (cluckrData["clucks"].length > 0) {
    %>
    </clucks>
    <%
    }
  }
  %>
  </main>
</body>

</html>